# LaTeX
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.bcf
*.out
*.xml
*.synctex(busy)
*.bbl
*.blg
*.lof
*.lot
*.toc

# Java
*.class
*.jar

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# editor
.vscode/
.idea/
out/
*.bbl-SAVE-ERROR
*.iml
