# Obsidian
.obsidian/workspace.json
.obsidian/graph.json


# LaTeX
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.bcf
*.out
*.xml
*.synctex(busy)
*.bbl
*.blg
*.lof
*.lot
*.toc

.obsidian/plugins/various-complements/histories.json

.obsidian/


# editor

.vscode/
.idea/
out/
*.bbl-SAVE-ERROR
*.iml
